name: MLflow CI Advanced

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train-and-dockerize:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install mlflow pandas scikit-learn

    - name: Run MLflow Project
      env:
        MLFLOW_TRACKING_URI: file:${{ github.workspace }}/mlruns
      run: |
        mlflow run MLProject --env-manager=local

    - name: Build Docker Image with MLflow
      env:
        MLFLOW_TRACKING_URI: file:${{ github.workspace }}/mlruns
      run: |
        mlflow models build-docker \
          --model-uri models:/StudentScoreModel/Latest \
          --name student-score-model
