name: MLflow CI + Docker

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train-and-dockerize:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install MLflow
      run: |
        pip install mlflow
      
    - name: Run MLflow Project
      run: |
        mlflow run MLProject --env-manager=local

    - name: Upload MLflow Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlruns
        path: mlruns
        
    - name: Get latest MLflow run_id
      run: |
        RUN_ID=$(ls mlruns/0 | head -n 1)
        echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV

    - name: Get latest MLflow run_id safely
      run: |
        python <<EOF
        import mlflow
        from mlflow.tracking import MlflowClient
    
        client = MlflowClient()
        experiments = client.search_experiments()
    
        exp = [e for e in experiments if e.name == "Student Exam Score - CI"][0]
        runs = client.search_runs(exp.experiment_id, order_by=["attributes.start_time DESC"])
    
        run_id = runs[0].info.run_id
        print("Latest run_id:", run_id)
    
        with open("run_id.txt", "w") as f:
            f.write(run_id)
        EOF
    
    - name: Build Docker Image with MLflow
      run: |
        RUN_ID=$(cat run_id.txt)
        mlflow models build-docker \
          --model-uri runs:/$RUN_ID/model \
          --name student-score-model

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Push Docker Image
      run: |
        docker tag student-score-model ${{ secrets.DOCKERHUB_USERNAME }}/student-score-model:latest
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/student-score-model:latest
